#graph > .dygraph-legend > span { display: none; }
#graph > .dygraph-legend > span.highlight { display: inline; border: 2px solid grey}



.fab {
   width: 70px;
   height: 70px;
   background-color: green;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;

   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;

   position: fixed;
   right: 50px;
   top: 50px;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}